In [1]:
import math as m
import numpy as np
import pandas as pd

In [9]:
a = [[1, 2, 3], [4, 5, 6]]

b = np.array(a)

print(b)

print(b.shape)

print(type(b))

print(b.dtype)

[[1 2 3]
 [4 5 6]]
(2, 3)
<class 'numpy.ndarray'>
int32

In [3]:
dir(b)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [15]:
c = b.flat

In [16]:
print(list(c))

['1', '2', '3', '2.3', '6', '3']

In [18]:
b[1,2]

6

In [37]:
b[:,:]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [25]:
type(b[0,0])

numpy.int32

In [38]:
b[:,0:1]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [35]:
b[:,1:]

array([[2, 3],
       [5, 6]])

In [41]:
np.zeros(shape = (2,4),dtype = int)

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

In [43]:
np.ones(shape=(2, 4), dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1]])

In [44]:
np.ones(shape=(2, 4), dtype=float)

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [47]:
np.full(shape=(2, 2), fill_value = 4, dtype=int)

array([[4, 4],
       [4, 4]])

In [52]:
np.eye(5, dtype=int)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [50]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [54]:
x = [[1, 2, {'a':3}], [4.1, '5', 6]]

y = np.array(x)

y

array([[1, 2, {'a': 3}],
       [4.1, '5', 6]], dtype=object)

In [55]:
x = [[1, 2, 3], [4.1, '5', 6]]

y = np.array(x, dtype='object')

y

array([[1, 2, 3],
       [4.1, '5', 6]], dtype=object)

In [56]:
x = [[1, 2, 3], [4.1, '5', 6]]

y = np.array(x)

y

array([['1', '2', '3'],
       ['4.1', '5', '6']], dtype='<U32')

In [58]:
np.random.random(size=(4,3))

array([[0.54221726, 0.18588023, 0.86834526],
       [0.11365874, 0.4023066 , 0.75633727],
       [0.2659763 , 0.42132368, 0.67666311],
       [0.90228509, 0.96609646, 0.06418767]])

In [60]:
np.random.random()

0.420801506909355

In [70]:
np.random.randint(low=3,high=5,size=(2,2))

array([[3, 4],
       [3, 3]])

In [77]:
b+1

array([[2, 3, 4],
       [5, 6, 7]])

In [78]:
b

array([[1, 2, 3],
       [4, 5, 6]])

In [79]:
x=np.array([[1,2,3],[4,5,6]])
y=np.array([8,9,0])

print(x+y)

[[ 9 11  3]
 [12 14  6]]

In [35]:
c=np.arange(5,14,3)

In [45]:
c=np.array([0,0,2,1])

In [46]:
b=np.array([0,2,0,1])

In [47]:
b,c

(array([0, 2, 0, 1]), array([0, 0, 2, 1]))

In [48]:
a

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [49]:
a=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]

In [50]:
x=np.array(a)

In [51]:
x,b,c

(array([[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]),
 array([0, 2, 0, 1]),
 array([0, 0, 2, 1]))

In [52]:
x[b,c]

array([1, 9, 3, 6])

In [63]:
y=np.array([[True,False,False,True],[True,False,False,True],[True,False,False,True]])

In [65]:
x,y

(array([[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]),
 array([[ True, False, False,  True],
        [ True, False, False,  True],
        [ True, False, False,  True]]))

In [68]:
x[y]

array([ 1,  4,  5,  8,  9, 12])

In [70]:
c=x>5

In [71]:
c

array([[False, False, False, False],
       [False,  True,  True,  True],
       [ True,  True,  True,  True]])

In [72]:
x[c]

array([ 6,  7,  8,  9, 10, 11, 12])

In [80]:
False&c

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]])

In [5]:
age = [12,34,23,20,23]
gender = ['M','F','M','F','M']
income = [1000,2000,3000,4000,5000]
data = list(zip(age,gender,income))

df = pd.DataFrame(data = data, columns = ['Age','Gender','Income'], index = ['A','B','C','D','E'])

df

   Age Gender  Income
A   12      M    1000
B   34      F    2000
C   23      M    3000
D   20      F    4000
E   23      M    5000

In [6]:
age = [12,34,23,20,23]
gender = ['M','F','M','F','M']
income = [1000,2000,3000,4000,5000]

df = pd.DataFrame(data = list(zip(age,gender,income)), columns = ['Age','Gender','Income'], index = ['A','B','C','D','E'])

df

   Age Gender  Income
A   12      M    1000
B   34      F    2000
C   23      M    3000
D   20      F    4000
E   23      M    5000

In [7]:
pwd

'D:\\Data_Science_Learnbay'

In [8]:
df = pd.read_csv('loan_data_set.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.shape

(614, 13)

In [13]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [14]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [15]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [16]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [17]:
df.tail(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [18]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [41]:
df.describe(percentiles = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.95,0.97,0.99])

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
10%,2216.100000,0.000000,71.000000,294.00000,0.000000
20%,2605.400000,0.000000,95.000000,360.00000,1.000000
30%,3050.400000,0.000000,108.000000,360.00000,1.000000
40%,3406.800000,0.000000,116.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
60%,4343.600000,1689.600000,137.000000,360.00000,1.000000
70%,5185.600000,2083.000000,158.000000,360.00000,1.000000
80%,6252.400000,2535.000000,182.000000,360.00000,1.000000
90%,9459.900000,3782.200000,235.800000,360.00000,1.000000
95%,14583.000000,4997.400000,297.800000,360.00000,1.000000
97%,16682.250000,5682.670000,362.700000,360.00000,1.000000
99%,32540.410000,8895.890000,496.360000,480.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [22]:
df.describe(include = object)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
count,614,601,611,599,614,582,614,614
unique,614,2,2,4,2,2,3,2
top,LP001404,Male,Yes,0,Graduate,No,Semiurban,Y
freq,1,489,398,345,480,500,233,422

In [23]:
df.mean()

ApplicantIncome      5403.459283
CoapplicantIncome    1621.245798
LoanAmount            146.412162
Loan_Amount_Term      342.000000
Credit_History          0.842199
dtype: float64

In [25]:
df.max()

Loan_ID                  LP002990
Education            Not Graduate
ApplicantIncome             81000
CoapplicantIncome         41667.0
LoanAmount                  700.0
Loan_Amount_Term            480.0
Credit_History                1.0
Property_Area               Urban
Loan_Status                     Y
dtype: object

In [26]:
df.median()

ApplicantIncome      3812.5
CoapplicantIncome    1188.5
LoanAmount            128.0
Loan_Amount_Term      360.0
Credit_History          1.0
dtype: float64

In [29]:
type(df.mean())

pandas.core.series.Series

In [34]:
df[['Loan_ID']]

      Loan_ID
0    LP001002
1    LP001003
2    LP001005
3    LP001006
4    LP001008
..        ...
609  LP002978
610  LP002979
611  LP002983
612  LP002984
613  LP002990

[614 rows x 1 columns]

In [33]:
df['Loan_ID']

0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object

In [37]:
df['LoanAmount'].describe()

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [38]:
df.describe(include = 'all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,614,614
unique,614,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,2
top,LP001404,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,Y
freq,1,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,233,422
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,NaN

In [39]:
df['LoanAmount'].sum()

86676.0

In [40]:
df.sum()

Loan_ID              LP001002LP001003LP001005LP001006LP001008LP0010...
Education            GraduateGraduateGraduateNot GraduateGraduateGr...
ApplicantIncome                                                3317724
CoapplicantIncome                                        995444.919989
LoanAmount                                                     86676.0
Loan_Amount_Term                                              205200.0
Credit_History                                                   475.0
Property_Area        UrbanRuralUrbanUrbanUrbanUrbanUrbanSemiurbanUr...
Loan_Status          YNYYYYYNYNYYYNYYYNNYNYNNNYYYNYNNNYNYNYYYNYYYYY...
dtype: object

In [46]:
df[['ApplicantIncome','LoanAmount']].sum()

ApplicantIncome    3317724.0
LoanAmount           86676.0
dtype: float64

In [47]:
df[['ApplicantIncome','LoanAmount']].value_counts()

ApplicantIncome  LoanAmount
2583             120.0         2
4333             110.0         2
150              135.0         1
4917             130.0         1
4843             151.0         1
                              ..
3167             154.0         1
                 180.0         1
3173             74.0          1
                 137.0         1
81000            360.0         1
Length: 590, dtype: int64

In [50]:
df[['LoanAmount']].value_counts()

LoanAmount
120.0         20
110.0         17
100.0         15
160.0         12
187.0         12
              ..
17.0           1
146.0          1
145.0          1
142.0          1
700.0          1
Length: 203, dtype: int64

In [51]:
df[['LoanAmount']].value_counts().sum()

592

In [52]:
df.select_dtypes(include = ['object'])

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,Urban,Y
4,LP001008,Male,No,0,Graduate,No,Urban,Y
...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,Semiurban,N

In [53]:
df.select_dtypes(include = ['number'])

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,NaN,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0
...,...,...,...,...,...
609,2900,0.0,71.0,360.0,1.0
610,4106,0.0,40.0,180.0,1.0
611,8072,240.0,253.0,360.0,1.0
612,7583,0.0,187.0,360.0,1.0
613,4583,0.0,133.0,360.0,0.0

In [56]:
df.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [57]:
df['Loan_ID'].nunique()

614

In [59]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [60]:
list(df.columns)

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Property_Area',
 'Loan_Status']

In [61]:
list(df.select_dtypes(include = ['number']).columns)

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [68]:
pd.crosstab(df['Education'],df['Dependents'])

Dependents      0   1   2  3+
Education
Graduate      275  81  77  36
Not Graduate   70  21  24  15

In [83]:
df.loc[[1],:]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [84]:
df['Married'] == 'Yes'

0      False
1       True
2       True
3       True
4      False
       ...
609    False
610     True
611     True
612     True
613    False
Name: Married, Length: 614, dtype: bool

In [88]:
(df['Married'] == 'Yes') & (df['Dependents'] == 2)

0      False
1      False
2      False
3      False
4      False
       ...
609    False
610    False
611    False
612    False
613    False
Length: 614, dtype: bool

In [90]:
pd.crosstab(df['Dependents'],df['Married'])

Married      No  Yes
Dependents
0           171  174
1            23   79
2             8   93
3+            7   44